@charset "UT-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

h1 {
    font-size: 40px;
    text-shadow: 3px 3px 3px 7px white;
}

section#dinamic {
    margin: auto;
    background-color: white;
    height: 400px;
    width: 700px;
    box-shadow: 9px 9px 11px 1px #00000059;
    border-radius: 25px;
}

div#msgTime {
    margin: 0px;
    padding: 20px;
}